{{> header}}

<div class="blog-post">
    <h4>Posted by {{user.username}} on {{format_date date_created}}</h4>
    <a id="post-title" data-id="{{id}}" href=""><h3>{{title}}</h3></a>
    <div class="blog-post-content">
        <p>
            {{content}}
        </p>
        
    </div>
    <div class="comments">
        <h3>Comments:</h3>
        {{#each comments as |comment|}}
        <div class="comment">
            {{!-- if the post has a user and the comment has a user, how do I access the comment's user instead of the user's? --}}
            <h4>Posted by {{comment.user.username}} on {{format_date comment.date_commented}}</h4>
            <p>{{comment.comment}}</p>
        </div>
        {{/each}}
    </div>
    <form></form>
        <div class="form-group">
            <label for="comment" class="leave-comment">Leave Comment:</label>
            <textarea class="form-control" id="comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-custom wide-btn" id="submit-comment">Submit</button>
    </form>
</div>

<script src="/js/comment.js"></script>